:host {
    background-image: url('../../assets/images/רקע.jpeg') ;
    background-size: cover;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

#title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.table-wrapper {
    height: 500px;
    width: 100%;
    max-width: 970px;
    border-radius: 16px;
    overflow-y: auto;
    background-color: #084019;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

