mat-grid-tile:hover {
    /* background: lightblue; */
    opacity:0.8;
}
mat-card {
    margin: 10px;
    padding: 10px;
}
mat-card :hover {
    /* background: lightblue;*/
    /* opacity: 0.8;  */
}
mat-card-header {
    align-items: center ;
    
    /* background: rgb(211, 69, 102); */
}
mat-card-title{
    color: rgb(168, 11, 123);
    font-weight: bolder;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
     
}
.highlight {
    border: 2px solid rgb(201, 42, 42); /* גבול אדום */
    background-color: #ffe0e0; /* צבע רקע בהיר */
}